body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("/scripts/src/Images/background.png");
}

#paddle{
    position: absolute;
    border-radius: 25px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#ball{
    border-radius: 50%;
    position: absolute;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.brick{
    position: absolute;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px outset #FFF;
}

.strength-0{
    display: none;
}

.strength-1{
    background-color: #F00;
}

.strength-2{
    background-color: #FF0;
}

.strength-3{
    background-color: #0F0;
}
