body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("images/background.png");
}

#level-editor-open-list {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.header-bar-left{
    text-decoration: underline;
    color: #ffffff; 
    font-size: 30px;
    margin-left: 10px;
}

.header-bar-hint{    
    font-size: 20px;
    font-style: italic;
    color: #ffffff; 
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.header-bar-right{
    text-decoration: underline;
    color: #ffffff; 
    font-size: 30px;
    margin-right: 10px;
}

.header-bar {
    position: absolute;
    display: flex; 
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;
}

#paddle{
    position: fixed;
    border-radius: 25px;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

#ball{
    border-radius: 50%;
    position: fixed;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

#game-container{
    position: fixed;
}

#brick-container{
    position: fixed;
}

#level-editor-ghost-brick {
    opacity: 0.5;
}

.brick{
    position: fixed;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px outset #ffffff;
    pointer-events:none;
}

.strength-0{
    display: none;
}

.strength-1{
    background-color: #F00;
    border: 1px outset #FFF;
}

.strength-2{
    background-color: #FF0;
    border: 1px outset #FFF;
}

.strength-3{
    background-color: #0F0;
    border: 1px outset #FFF;
}

.powerup{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;

}

.powerup-1{

    background-color: #F0F;

}

.powerup-2{

    background-color: #00F;

}

.powerup-3{

    background-color: #0FF;

}